<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/mycss.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/cdn/bootstrap.min.css">
    <script src="/cdn/jquery-3.2.1.slim.min.js"></script>
    <script>
      $(()=>{
        let date= new Date();
        let dateVal= date.getFullYear()+"-"+(date.getMonth()+1>9?"":"0")+(date.getMonth()+1)+"-"+(date.getDate()>9?"":"0")+date.getDate();
        $('#filterTime').val(dateVal);

        $("#addFlight").click(()=>{
          window.location.href = "/employee/flight/add";
        })
      })
    </script>

  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" role="navigation">
          <a href="#" class="navbar-brand">Hệ thống quản lý cập nhật tình hình các chuyến bay đến và đi cho sân bay quốc tế Đà Nẵng</a>
      </nav>
    </div>

    <div class="container-fluid">
      <div class="row topPage">
        <div class="pageTitle">
          <h3 class="display-5 dagTitle">
            Da Nang Airport
          </h3>
        </div>
        <div class="userCell">
          <h4 style="width: 100%" class="text-center">User</h4>
          <h5 style="width: 100%" class="text-center">Employee</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Quản lý chuyến bay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quản lý thông tin các nhân</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đăng xuất</a>
            </li>
          </ul>
        </nav>

        <div role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1 class="text-center">DANH SÁCH CHUYẾN BAY</h1>
          <hr>
          <div class="row">
            <div class="col-sm-2 col-md-2">
              <form>
                <input type="radio" name="gender" value="out" checked>Bay đi<br>
                <input type="radio" name="gender" value="in">Bay đến<br>
              </form>
            </div>

            <div class="col-sm-2 col-md-2">
              <label>Nơi đi/đến: </label> <br>
              <label>Thời gian: </label>
            </div>

            <div class="col-sm-4 col-md-4">
              <select class="">
                <option disabled>Nơi đến</option>
              </select> <br>

              <input type="date" name="thoiGian" id="filterTime"/>
            </div>

            <div class="col-sm-4 col-md-4">
              <button type="button" class="btn btn-success">Tìm</button>
              <button type="button" class="btn btn-success" id="addFlight">Thêm chuyến bay</button>
            </div>
          </div>


          <hr>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Số hiệu</th>
                  <th>Hãng</th>
                  <th>Loại</th>
                  <th>Nơi đến/đi</th>
                  <th>Thời gian</th>
                  <th>Trạng thái</th>
                  <th>Xem</th>
                </tr>
              </thead>
              <tbody>
                <%for(var i=0; i<flights.length; i++){%>
                  <tr>
                    <td><%=flights[i].MaCB%></td>
                    <td><%=flights[i].Hang%></td>
                    <%if (flights[i].NoiDi._id==dn){%>
                      <td>Đi</td>
                    <%}else{%>
                      <td>Đến</td>
                    <%}%>
                    <%if (flights[i].NoiDi._id==dn){%>
                      <td><%=flights[i].NoiDen.TenSanBay%></td>
                    <%}else{%>
                      <td><%=flights[i].NoiDi.TenSanBay%></td>
                    <%}%>
                    <td><%=flights[i].ThoiGian.toJSON()%></td>
                    <td><%=flights[i].TrangThai%></td>
                    <td>Xem</td>
                  </tr>
                <%}%>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer fixed-bottom">
        <div class="container-fluid">
            <span class="text-muted">Nhóm AD23 - PTTKHTTT - 2017</span>
        </div>
    </footer>

    <script src="/cdn/popper.min.js"></script>
    <script src="/cdn/bootstrap.min.js"></script>
  </body>
</html>
