<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/mycss.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/cdn/bootstrap.min.css">
    <script src="/cdn/jquery-3.3.1.min.js"></script>
    <script>
      $(()=>{
        $('#popup').hide();
        $("#btnChange").click(()=>{
          window.location.href = "/employee/flight/change/<%=flight._id%>";
        })

        $("#btnDelete").click(()=>{
          $('#popup').show();
        })

        $("#btnDeleteCancel").click(()=>{
          $('#popup').hide();
        })

        $("#btnDeleteConfirm").click(()=>{
          $.ajax({
            url: '/employee/flight/<%=flight._id%>',
            type: 'delete',
            success: function(result){
              var temp= result;
              if (temp.error== true) {
                alert(JSON.stringify(temp.message));
                $('#popup').hide();
              } else {
                $('#popup').hide();
                window.location.href = "/employee/flight";
              }
            },
            error: function(xhr) {
              alert("An error occured: " + xhr.status + " " + xhr.statusText);
            }
          });
        })

        $("#btnCancel").click(()=>{
          window.location.href = "/employee/flight";
        })
      })
    </script>
  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" role="navigation">
          <a href="#" class="navbar-brand">Hệ thống quản lý cập nhật tình hình các chuyến bay đến và đi cho sân bay quốc tế Đà Nẵng</a>
      </nav>
    </div>

    <div class="container-fluid relative">
      <div class="row topPage">
        <div class="pageTitle">
          <h3 class="display-5 dagTitle">
            Da Nang Airport
          </h3>
        </div>
        <div class="userCell">
          <h4 style="width: 100%" class="text-center">User</h4>
          <h5 style="width: 100%" class="text-center">Employee</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Quản lý chuyến bay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quản lý thông tin các nhân</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đăng xuất</a>
            </li>
          </ul>
        </div>

        <div role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1 class="text-center">Thông tin chuyến bay </h1>
          <hr>
          <center>
            <span class="bold">Số hiệu chuyến bay: <%=flight.MaCB%></span> <br><br>
          </center>
          <span class="boldAndPad">Hãng hàng không: </span><span><%=flight.Hang%></span> <br>
          <span class="boldAndPad">Loại: </span><span><% if(flight.NoiDi._id==dn) {%>Đi<%}else{%>Đến<%}%></span> <br>
          <span class="boldAndPad">Nơi <% if(flight.NoiDi._id==dn) {%>đến<%}else{%>đi<%}%>: </span> <span>
          <% if(flight.NoiDi._id==dn) {%><%=flight.NoiDen.TenSanBay%><%}else{%><%=flight.NoiDi.TenSanBay%><%}%></span><br>
          <span class="boldAndPad">Thời gian: </span><span><%=flight.ThoiGian%></span> <br>
          <span class="boldAndPad">Số hành khách: </span><span><%=flight.SoHanhKhach%></span> <br>
          <span class="boldAndPad">Trạng thái: </span> <span><%=flight.TrangThai%></span>

          <div>
            <center>
              <button id="btnChange" class="btn btn-success">Thay đổi thông tin</button>
              <button id="btnDelete" class="btn btn-success">Xóa</button>
              <button id="btnCancel" class="btn btn-success">Trở về</button>
            <center/>
          </div>
        </div>
      </div>
      <div id="popup">
        <h4>Xác nhận xóa</h4>
        <hr>
        <center>
          <span>Bạn có chắc chắn xóa thông tin chuyến bay này không?<br>Nhấn xóa để tiếp tục, nhấn hủy để hủy yêu cầu.</span>
          <hr>
          <button class="btn btn-success" id="btnDeleteConfirm">Xóa</button>
          <button class="btn btn-success" id="btnDeleteCancel">Hủy</button>
        </center>
      </div>
    </div>

    <footer class="footer fixed-bottom">
        <div class="container-fluid">
            <span class="text-muted">Nhóm 9 - TTCN - 2017</span>
        </div>
    </footer>

    <script src="/cdn/popper.min.js"></script>
    <script src="/cdn/bootstrap.min.js"></script>
  </body>
</html>
