<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/mycss.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/cdn/bootstrap.min.css">
    <script src="/cdn/jquery-3.2.1.slim.min.js"></script>
    <script>
      $(()=>{
        let date= new Date();
        let dateVal= date.getFullYear()+"-"
                  +(date.getMonth()+1>9?"":"0")+(date.getMonth()+1)+"-"
                  +(date.getDate()>9?"":"0")+date.getDate()
                  +"T"+(date.getHours()>9?"":"0")+date.getHours()
                  +":"+(date.getMinutes()>9?"":"0")+date.getMinutes();
        $('#inpThoiGian').val(dateVal);

        $("#btnCancel").click(()=>{
          window.location.href = "/employee/flight";
        })
      })
    </script>
  </head>
  <body>
    <div id="header">
      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top" role="navigation">
          <a href="#" class="navbar-brand">Hệ thống quản lý cập nhật tình hình các chuyến bay đến và đi cho sân bay quốc tế Đà Nẵng</a>
      </nav>
    </div>

    <div class="container-fluid">
      <div class="row topPage">
        <div class="pageTitle">
          <h3 class="display-5 dagTitle">
            Da Nang Airport
          </h3>
        </div>
        <div class="userCell">
          <h4 style="width: 100%" class="text-center">User</h4>
          <h5 style="width: 100%" class="text-center">Employee</h5>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">Quản lý chuyến bay</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Quản lý thông tin các nhân</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Đăng xuất</a>
            </li>
          </ul>
        </div>

        <div role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1 class="text-center">Thêm chuyến bay </h1>
          <hr>
          <form action="/employee/flight" method="post" enctype="application/x-www-form-urlencoded">
            <!-- // Số hiệu -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Số hiệu chuyến bay</label>
              </div>
              <div class="col-sm-6 col-md-6">
                <input type="text" required class="addWidth" name="inpSoHieu" placeholder="Số hiệu chuyến bay">
              </div>
            </div>
            <!-- // Hãng hàng không -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label> Hãng hàng không</label>
              </div>
              <div class="col-sm-6 col-md-6">
                <select class="addWidth" name="inpHangHangKhong" required>
                  <%for (var i=0; i<hangHangKhongs.length; i++){%>
                    <option value="<%=hangHangKhongs[i]._id%>"><%=hangHangKhongs[i].TenHHK%></option>
                  <%}%>
                </select> <br>
              </div>
            </div>
            <!-- // Loại -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Loại</label>
              </div>
              <div class="col-sm-6 col-md-6">
                <select class="addWidth" required name="denOrDi">
                  <option selected value="1">Đến</option>
                  <option value="0">Đi</option>
                </select> <br>
              </div>
            </div>
            <!-- // Địa điểm -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Nơi đến/đi</label>
              </div>
              <div class="col-sm-6 col-md-6">
                <select class="addWidth" name="inpDiaDiem" required>
                  <%for (var i=0; i<diaDiems.length; i++){%>
                    <option value="<%=diaDiems[i]._id%>"><%=diaDiems[i].TenSanBay%></option>
                  <%}%>
                </select> <br>
              </div>
            </div>
            <!-- // Thời gian -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Thời gian</label>
              </div>
              <div class="col-sm-6 col-md-6">
                <input type="datetime-local" name="thoiGian" id="inpThoiGian" width="300px">
              </div>
            </div>
            <!-- // Số hành khách -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Số hành khách</label>
              </div>
              <div class="col-sm-6 col-md-6">
                <input type="number" name="inpSoHanhKhach" class="addWidth" value="0">
              </div>
            </div>
            <!-- // Trạng thái -->
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <label>Trạng thái</label>
              </div>
              <div class="col-sm-6 col-md-6">
                <select class="addWidth" name="inpTrangThai" required>
                  <%for (var i=0; i<trangThais.length; i++){%>
                    <option value="<%=trangThais[i]._id%>"><%=trangThais[i].TenTT%></option>
                  <%}%>
                </select> <br>
              </div>
            </div>
            <div>
              <center>
                <button type="submit" class="button btn-success">Lưu</button>
                <button type="reset" id="btnCancel" class="button btn-success">Huỷ</button>
              <center/>
            </div>
          </form>
        </div>
      </div>
    </div>

    <footer class="footer fixed-bottom">
        <div class="container-fluid">
            <span class="text-muted">Nhóm 9 - TTCN - 2017</span>
        </div>
    </footer>

    <script src="/cdn/popper.min.js"></script>
    <script src="/cdn/bootstrap.min.js"></script>
  </body>
</html>
